[flake8]
ignore = E203, E501, W503
max-line-length = 99
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .tox
import-order-style = pycharm
application-import-names = {{cookiecutter.project_slug}}
